.bg-grey { background: #e0e1e2 none !important; }
.bg-brown { background: #e67e22 none !important; }

.ui.table tfoot th .bg-brown {
	background: #e67e22 none !important;
}
.bg-blue {
	background: #3498db none !important;
}

.apexcharts-legend-marker { height: 6px !important; width: 6px !important; width: 6px !important; }

.bg-none { background: none !important; }
.border-none { border: none; }
.border-s { border: 1px solid rgba(34,36,38,.15) }
.border-bottom { border-bottom: 1px solid rgba(34,36,38,.15) }
.border-right { border-right: 1px solid rgba(34,36,38,.15) }
.border-x { border-right: 1px solid rgba(34,36,38,.15); border-left: 1px solid rgba(34,36,38,.15) }

.red-circle::before {
  content: "\2022";
  color: #e74c3c;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
    margin-left: -1em;
    font-size: 22px;
  font-size: 18px;
}

.line {
  width: 10%;
    margin-left: 0;
}

.grey-circle::before {
  content: "\2022";
  color: #ecf0f1;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
    margin-left: -1em;
    font-size: 22px;
  font-size: 18px;
}

.green-circle::before {
  content: "\2022";
  color: #2ecc71;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
    margin-left: -1em;
    font-size: 22px;
  font-size: 18px;
}


.blue-circle::before {
  content: "\2022";
  color: #3498db;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
    margin-left: -1em;
    font-size: 22px;
  font-size: 18px;
}




.pretty-box { box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); border-radius: 3px; }

.f9 { font-size: 9px; }
.f10 { font-size: 10px; }
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f24 { font-size: 24px; }
.f26 { font-size: 26px; }
.f28 { font-size: 28px; }

.text-blue {  color: #3498db !important; }
.text-green {  color: #2ecc71; }
.text-black {  color: #666666; }
.text-red { color: #e74c3c !important; }
.text-brown { color: #e67e22 !important; }
.text-orange { color: #f1c40f; }

.dash-title {
   color: #000000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}

.section-title {
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 22px;
  text-align: left;
}

.container-background {
  background-color: #FFFFFF;
  border-radius: 3px;  
}

.theBox{
   background-color: #FFFFFF;
  border: 1px solid #E1E4EE;
  border-radius: 3px;
}

.theBox-head{
  background-color: #F8F9FD;
  border-bottom: 1px solid #E1E4EE;
  border-radius: 3px 3px 0 0;
}
.box {
  position: relative;
}

.box .box-content {
 position: absolute;
/*   height: 100%; */
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
}

.bg-purple {
  background-color: #A3A0FB !important;
}
.bg-tab-pen { background-color: rgba(77, 79, 92, 0.9) !important; }
.bg-tab-bottom { background-color: #E1E4EE !important; }
.text-white { color: #ffffff; }
.w100 { width: 100%; }
.w90 { width: 90%; }

.text-detail { color: #4BA0E1;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  /*line-height: 17px;*/
  text-align: right; }

.text-number {
  color: #000000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: 29px;  
  text-align: center;
}
.text-detail-value {
  color: #8D93A8;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.23px;
  line-height: 17px;  
  text-align: center;
}
.pl3 { padding-left: 3rem; }
.pr35 { padding-right: 3.5rem; }
.text-align-clear { text-align: justify;  }
.align-super { vertical-align: super; }
.orange-circle::before {
  content: "\2022";
  color: #FFBD58;
  font-weight: bold;
  display: inline-block; 
 width: 1em;
    margin-left: -1em;
    font-size: 22px;
}
.purple-circle::before {
  content: "\2022";
  color: #A3A0FB;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
    margin-left: -1em;
    font-size: 22px;
}

.green-circle::before {
  content: "\2022";
  color: #A4DC72;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
    margin-left: -1em;
    font-size: 22px;
}

.semi-bold {
  font-weight: 600;
}
.w127 {
  width: 127px;
}

.w30{
  width: 33.333333%;
}
.apexcharts-toolbar {
  display: none;
}

.legend > .apexcharts-legend {
  padding-top: 3rem;
}